# ==========================================
# DEPENDENCIES
# ==========================================


node_modules/





# ==========================================
# ENVIRONMENT VARIABLES
# ==========================================


.env







# ==========================================
# LOG FILES
# ==========================================


logs/

*.log







# ==========================================
# DEBUG FILES
# ==========================================


npm-debug.log*

yarn-debug.log*

yarn-error.log*







# ==========================================
# OPERATING SYSTEM FILES
# ==========================================


.DS_Store

Thumbs.db







# ==========================================
# EDITOR FILES
# ==========================================


.vscode/

.idea/







# ==========================================
# UPLOADS
# (User uploaded images/files)
# ==========================================


uploads/







# ==========================================
# BUILD / CACHE
# ==========================================


dist/

build/

.cache/







# ==========================================
# OPTIONAL TEST FILES
# ==========================================


coverage/